*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  height: 80px;
  cursor: pointer;
}

.header{
  background-color: #0d6efd;
}

.navbar-nav li a{
  margin-right:50px;
  color: white;
  font-weight: bold;  
}

.navbar-nav li a:hover{
  border: 2px solid white;
  border-radius: 15px;
}

.input-search, .btn0{
  height: 40px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 20px;
  margin-left: 100px;
}

.btn0{
  width: 90px;
  background-color: #0d6efd;
  color: white;
  border: none;
  margin-left: -40px;
  font-weight: bold;
}

.option_area{
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #85b509;
  height: 50px;
  width: 100%;
  color: white;
}

.fa-solid{
  color: white;
  font-size: 30px;
}

.payment_area{
  background-color: rgba(128, 128, 128, 0.148);
  border-radius: 15px;
}

.gen_btn{
  height: 90px;
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #85b509;
}




/*CONTACT AREA*/
.form_send{
  width: 100px;
  background-color: #85b509;
  border: none;
  border-radius: 10px;
  color: white;
}

.form-terms{
  font-size: 12px;
}

.hour-operation p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.innermind{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/waste\ disposal\ container_3.png');
  background-repeat: no-repeat;
  background-position: 70% 20%;
  background-size: cover;
  height: 40vh;
}

/*TESTIMONIAL AREA*/

.innermind{
  background-image: url('../images/testimo.jpg');
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: cover;
  height: 40vh;
}

